* {
    scrollbar-width: thin;
    scrollbar-color: #2c3856;
}

/* Targtes on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: #a5d9f3;
    border-radius: 5px;
    border: 1px solid #a5d9f3;
}

.selectArrow {
    color: red; /* Specify the desired color here */
  }

.cursor-pointer{
    cursor:pointer;
}  
.pac-container {
    z-index: 10000; 
    position: absolute !important; 
  }

  .custom-toast {
    font-size: 16px; /* Adjust the font size as needed */
  }