* {
    scrollbar-width: thin;
    scrollbar-color: #2c3856;
}

/* Targtes on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: #a5d9f3;
    border-radius: 5px;
    border: 1px solid #a5d9f3;
}